/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #495057;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #007bff;
    margin-bottom: 20px;
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #fff;
}

.jumbotron {
    background-color: #f87c56;
    background-size: cover;
    color: #353333;
    text-align: center;
    padding: 150px 0;
    margin-bottom: 20px;
}

.jumbotron h1,
.jumbotron p,
.jumbotron .btn-primary {
    color: #eeeeee;
    padding: 10px; /* Add padding for better readability */
    border-radius: 5px; /* Optional: Add rounded corners */
}

.btn-primary:hover {
    background-color: #007bff;
    border-color: #007bff;
}

.featured-location {
    margin-bottom: 40px;
}

.card {
    border: none;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-weight: bold;
}

.container-fluid.bg-light {
    background-color: #fff;
    padding: 40px 0;
}

.feature-icon {
    font-size: 4em;
    color: #007bff;
}

.feature-heading {
    margin-top: 20px;
    font-weight: bold;
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
